14주차 실습 1 가격이 비싼 가계 출력

In [55]:
import pandas as pd
import numpy as np
prcdt = np.random.randint(1,100,size=3)
prcdt = prcdt * 50
numberdt = np.random.randint(2,60,size=3)
numberdt = numberdt * 5
fndt = np.stack([prcdt, numberdt],1)
df = pd.DataFrame(fndt,index=["store1","store2","store3"],columns=["unit price","number"])
print(df)
print("")
df["total price"] = df["unit price"]*df["number"]
print(df)
finaldata = df.iloc[[df["total price"].argmax()],:]
finaldata

        unit price  number
store1         300     135
store2         550     295
store3        3950      80

        unit price  number  total price
store1         300     135        40500
store2         550     295       162250
store3        3950      80       316000

        unit price  number  total price
store3        3950      80       316000